


<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="面精，面精网，面精社区"/>
    <!-- begin 参考 layouts/head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="shortcut icon" href="./img/i.png"/>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="OiVpOJwI7AjTmfqMknbgELyqggpEGPwG0c/wxgGlh2YChvFnBHziApvWaiTxGfyx112qKXKSSmjcwldHKVVj2g==" />
<!-- end 参考 layouts/head -->

    <!-- 面精网 shim and Respond.js for IE8 support of 面精网 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/面精网shiv/3.7.2/面精网shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- 百度站长工具验证 -->
    <!-- 百度站长工具验证 -->
<!-- shixian.com -->
<meta name="baidu-site-verification" content="DxH5nP0ijn" />

<!-- www.shixian.com -->
<meta name="baidu-site-verification" content="dCeYDC5bLB" />




      <title> 社会精英辅导求职预约平台</title>

<!-- <meta name="apple-itunes-app" content="app-id=949862651"> -->

      <script src="js/programmers.js"></script>

    
    
      <link rel="stylesheet" media="screen" href="css/programmers.css" />

    <link rel="stylesheet" media="screen" href="css/design.css" />

    

  </head>
    <body>

    <div style="display: none">
  <!-- 微信分享会取body里第一张大于等于300px的照片 -->  
  <img src="img/logo-300.jpg" alt="面精网" />
</div>

 <nav class="navbar navbar-default navbar-fixed-top navbar-white" style="height: 51px">
   <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>

         <a class="logo navbar-brand text-center" href="index.html">面精网</a>

       </div>

       <div id="navbar" class="collapse navbar-collapse">
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>

           <ul class="nav navbar-nav">
             <li class="bai"><!-- class="active"  style="margin-left: 30px;"-->
               <a class="programmers-jobs-link" href="gu.html">求职顾问</a>
             </li>

             <li class="">
               <a class="programmers-jobs-link" href="require_list.html">新人求助</a>
             </li>
           </ul>

         <ul class="nav navbar-nav navbar-right" >
             <li class="">
               <a href="m_appointment.html">我的预约</a>
             </li>

             <li class="">
               <a href="notice.html">
                 通知
                 <label class="label label-danger" style="margin-left: 6px;display: none;position: relative;top:-2px"></label>
               </a>
             </li>

             <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" title="个人主页" href="javascript:void(0);">
                 <img class="tiny-avatar avatar" alt="路" src="img/tiny_5e620cedfe19524579ad8009ea25db2f.jpeg" />
                 <span class="headerTinymanName">路 <b class="caret"></b></span>
               </a>
               <ul class="dropdown-menu">
                 <!-- 未申请或申请还没有通过认证(前面已判断)，都是这个 -->


                   <li class="">
                      <a href="gperson.html">查看顾问信息</a>
                    </li>

                    <li class="divider"></li>

                  <li class="">
                    <a href="gperson_chg.html ">修改顾问信息</a>
                  </li>
                  <li class="">
                    <a href="head_chg.html">修改头像昵称</a>
                  </li>




                 <li class="divider"></li>

                  

                 <li><a href="#" data-method="delete" rel="nofollow">退出</a></li>
               </ul>
             </li>
         </ul>
       </div><!--/.nav-collapse -->
   </div>
 </nav>

<!-- Fixed navbar -->

<div class="container">
  
<div class="empty-line"></div>


<div class="clearfix"></div>

<div class="with-white-background-color with-box-shadow">
  <div class="empty-row"></div>
  <div class="clearfix"></div>

  <div class="col-md-12">
    <div class="col-md-12 xs-no-padding">
      <div class="col-md-2 col-sm-3 my-jobs-title xs-no-padding no-padding-left">
        已发布需求
      </div>

      <div class="empty-small-line visible-xs"></div>

      <div class="col-sm-9 text-right no-padding-right xs-no-padding">
        <a class="btn btn-primary" href="#">发布兼职需求</a>
      </div>

      <div class="clearfix"></div>
      <div class="empty-line"></div>

      <div>
        <div class="my-job_sidebar col-sm-12 no-padding-left xs-no-padding nav nav-list">
          
            <div class="active col-xs-4 col-md-2" >
              现有需求
            </div>
              <div class="  col-xs-4">
                已关闭
              </div>
          
        </div>

        <hr class="visible-xs">
        <div class="empty-line visible-xs"></div>

        <div class="my-job_content col-sm-12  row">
              <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="demand_admin_close.html">关闭</a>

                  </div>
                    
                </div>
				<style>
				.job-footer{width:67%;}
				</style>
                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p>会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>
			 <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="demand_admin_close.html">关闭</a>

                  </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p>会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>
			 <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="#">关闭</a>

                  </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p>会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>
			 <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="#">关闭</a>

                  </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p>会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>
			 <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="#">关闭</a>

                  </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p >  会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>
			 <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="#">关闭</a>

                  </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p>  会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>
			 <div>
                <div class="job-head">
                  <div class="job-title no-padding-left ">
                    <a href="#">
                      面精网
</a>                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="empty-line visible-xs"></div>

                  <div class="job-way_to_work col-xs-12 col-md-10 placeholder-hint xs-no-padding">
                    <a class="placeholder-hint col-sm-3 col-xs-4">前端高级工程师</a>
                    <span class="clspang split placeholder-hint col-sm-3">5年工作经验</span>
					<span class="split placeholder-hint col-sm-3 col-xs-4" style="margin:0px;">2016-06-08</span>
                     <a class="btn btn-default btn-hundred col-sm-3 col-xs-4" rel="nofollow" data-method="put" href="#">关闭</a>

                  </div>
                    
                </div>

                <div class="clearfix"></div>
                <div class="empty-line"></div>

                <div class="empty-row visible-xs"></div>
                
                <div class="empty-line visible-xs"></div>

                <div class="job-footer ">
                  <p>  会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css htm5会及时js html css </p>
                </div>
			</div>

             
        </div>
      </div>
    </div>
  </div>

  <div class="text-center no-padding-left">
    <ul class="pagination">
    <li>
  <a href="#">&laquo; 第一页</a>
</li>

    <li>
  <a rel="prev" href="#">&lsaquo; 上一页</a>
</li>

          <li>
    <a rel="prev" href="#">1</a>
  </li>

          <li class='active'>
    <a remote="false">2</a>
  </li>

          <li>
    <a rel="next" href="#">3</a>
  </li>

          <li>
    <a href="#">4</a>
  </li>

          <li>
    <a href="#">5</a>
  </li>

          <li>
    <a href="#">6</a>
  </li>

        <li class='disabled'>
  <a>...</a>
</li>

    <li>
  <a rel="next" href="#">下一页 &rsaquo;</a>
</li>

    <li>
  <a href="#">最后一页 &raquo;</a>
</li>

  </ul>

</div>
</div>

<script>
  $("#job-apply-popover").popover({
      content: "除了投递人员外，您可自行预约其他求职顾问，或联系平台推荐",
      trigger: 'hover',
      placement: "top"
  });
</script>


</div>

<!-- <div class="footer-faker-margin-row"></div>

<div class="empty-row"></div>
 -->
  <!-- 已登录，消息提醒 -->
  <script src="js/pull_notices.js"></script>

<script type="text/javascript">
  is_weixin();
  function is_weixin(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
      $(".wechat_login").attr("href", "http://shixian.com/users/auth/wechat");
      $(".weibo_login").hide();
      $(".github_login").hide();
    } else {
      $(".wechat_login").attr("href", "http://shixian.com/users/auth/open_wechat")
    }
  }
</script>

<script src="js/wx-activity-popover.js"></script>

    
    
    <!-- 百度统计等 -->
      <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F25e3b17ddf2b132427768bfebf751a76' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!-- growingio -->
  <script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'acf6ac3446a1dcb0']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>
 <style>
     .zi{background-color: red;width: 1080px;background-color: #fff; margin: 0 auto;}
     .zi a{ display: block;text-align: center;width: 175px;float: left;margin: 0;padding: 0;border: 0; }
     .zi a img{margin: 0;padding: 0;border: 0; }
     .footer .col ul a{color:#777;}
     .fcolor{color:#f2f2f2}
 </style>

    <div class="footer " style="position: relative;">
      <div class="content-wrapper " style="background-color:#f2f2f2;">
        
        <div class="col">
          <ul>
            <li>
              <a  href="baed_dlc.html">预约流程</a>
            </li>
            <li>
             <a  href="baed_wdl.html">网站协议</a>
            </li>
            <li>
              <a  href="baed_dlc.html">常见问题</a>
            </li>
          </ul>
        </div>
        <div class="col" >
          
          <ul>
            <li>
              <a target="_blank" href="baed_wdy.html">友情链接</a>
            </li>
            <li>
              <a  href="index.html#hezuo">合作伙伴</a>
            </li>
               <li><a target="_blank" href="#">线下活动</a></li>
         
          </ul>
        </div>
        <div class="col">
          
          <ul>
          </ul>
        </div>
        <div class="col" style="padding-right:185px;">
          <div >
            <img width="108" src="img/shixian-team-qr-code-6e12ae9806057212d510f03cdc2173a00d22542669be5992b1fd926f4715e188.jpg" alt="Shixian qr code 1172ea9fd974a9901cb4ea6a5c826cb7f16aeaed0cce6f7815b292428b1ae7ca" />

           
          </div> 
        </div>
      </div>
    </div>
    <div class="copyrights" style="background-color:#be3232;position: relative; width:100%;">
      <div class="fcolor">2014-2016 © 上海垚元信息科技有限公司&nbsp;&nbsp;|&nbsp;&nbsp;沪ICP备16027855号</div>
    </div>
  </body>
</html>

