


<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="面精网"/>
    <!-- begin 参考 layouts/head -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="shortcut icon" href="./img/i.png"/>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="iCWjMHdVkRuBuitqlZscVa5wn0J+8pdvUgvFvcRU6C6whjtv7yGfEcn1u8L29AD0xYe3YUh4IQFfBmI87KQMkg==" />

    
    
    <!-- end 参考 layouts/head -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- 百度站长工具验证 -->
    <!-- 百度站长工具验证 -->
<!-- shixian.com -->
<meta name="baidu-site-verification" content="DxH5nP0ijn" />

<!-- www.shixian.com -->
<meta name="baidu-site-verification" content="dCeYDC5bLB" />




      <title>社会精英辅导求职预约平台</title>

<!-- <meta name="apple-itunes-app" content="app-id=949862651"> -->

      <script src="js/programmers.js"></script>

    
    
      <link rel="stylesheet" media="screen" href="css/programmers.css" />
    <link rel="stylesheet" href="css/design.css" />
    

    

  </head>
    <body >

    <div style="display: none">
  <!-- 微信分享会取body里第一张大于等于300px的照片 -->  
  <img src="/images/logo-300.jpg" alt="面精网" />
</div>

<!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-fixed-top navbar-white" style="height: 51px">
   <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>

         <a class="logo navbar-brand text-center" href="index.html">面精网</a>

       </div>

       <div id="navbar" class="collapse navbar-collapse">
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>

           <ul class="nav navbar-nav">
             <li class="bai"><!-- class="active"  style="margin-left: 30px;"-->
               <a class="programmers-jobs-link" href="gu.html">求职顾问</a>
             </li>

             <li class="">
               <a class="programmers-jobs-link" href="require_list.html">新人求助</a>
             </li>
           </ul>

         <ul class="nav navbar-nav navbar-right" >
             <li class="">
               <a href="m_appointment.html">我的预约</a>
             </li>

             <li class="">
               <a href="notice.html">
                 通知
                 <label class="label label-danger" style="margin-left: 6px;display: none;position: relative;top:-2px"></label>
               </a>
             </li>

             <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" title="个人主页" href="javascript:void(0);">
                 <img class="tiny-avatar avatar" alt="路" src="img/tiny_5e620cedfe19524579ad8009ea25db2f.jpeg" />
                 <span class="headerTinymanName">路 <b class="caret"></b></span>
               </a>
               <ul class="dropdown-menu">
                 <!-- 未申请或申请还没有通过认证(前面已判断)，都是这个 -->


                   <li class="">
                      <a href="gperson.html">查看顾问信息</a>
                    </li>

                    <li class="divider"></li>

                  <li class="">
                    <a href="gperson_chg.html ">修改顾问信息</a>
                  </li>
                  <li class="">
                    <a href="head_chg.html">修改头像昵称</a>
                  </li>




                 <li class="divider"></li>

                  

                 <li><a href="#" data-method="delete" rel="nofollow">退出</a></li>
               </ul>
             </li>
         </ul>
       </div><!--/.nav-collapse -->
   </div>
 </nav>

<!-- Fixed navbar -->

<!-- Begin page content -->
<div class="container">
  
<div class="empty-line"></div>




  <div class="form-group form-group-md">
        <label class="col-md-2 control-label"  for="programmer_company" style="font-size:2em;padding-left:0;">基本信息</label>
       <div class="clearfix" style="height: 10px;"></div>
</div>

<div class="programmer-settings-content">
  <div class="col-md-offset-1">
    <div class="empty-line"></div>


    <div class="empty-line"></div>

    <div class="form-horizontal">
      <div class="control-group">
        
        <!-- Button -->
       





    <form class="form-horizontal" id="edit_programmer_11848" action="/consultants/11848" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="tH9zPNe4N+iyppJwVZOdKNJsFlYRTIat/4zVzw8lDOyM3OtjT8w54vrpAtg2/IGJuZs+dSfGMMPygXJOJ9XoUA==" />
      <div class="form-group form-group-md">
        <label class="col-md-1 control-label bigger-col1" for="programmer_company">昵称</label>
        <div class="col-md-5">
          <input  class="form-control" type="text" />
        </div>
</div>
<div class="form-group form-group-md">
<label class="col-md-1 control-label bigger-col1" for="programmer_company">头像</label>

    
    <div class="col-md-3" >
	<img id="user-avatar-upload" class="small-avatar small-avatar-radius" src="img/tiny_f396e9dc3e3667e4a1aec629948c2c06.jpg" style="display:inline-block;margin-bottom:10px" />
       <input   type="file"/>
    </div>
  
  </div>
<div class="form-group">
  <label class="col-md-1 control-label bigger-col1" for="programmer_city">真实姓名</label>

  

  <div class=" col-md-5">
      <input  class="form-control" type="text" />
  </div>

  
</div> 
<div class="form-group">
  <label class="col-md-1 control-label bigger-col1" for="programmer_city">手机号</label>

  

  <div class=" col-md-5">
      <input  class="form-control" type="text"/>
  </div>

  
</div>
<div class="form-group">
  <label class="col-md-1 control-label bigger-col1" for="programmer_city">邮箱</label>

  

  <div class=" col-md-5">
      <input  class="form-control" type="text"/>
  </div>

  
</div>


     


<div class="form-group form-group-md">
        <label class="col-md-1 control-label bigger-col1" for="programmer_technical_experience">具体介绍</label>
        <div class="col-md-7">
          <textarea required="required"  class="form-control" rows="11" >
</textarea>
        <br/>
        </div>

      </div>

     

      


     

      <div class="col-md-12 col-md-offset-1 bigger-offset1 xs-no-padding">
        <input type="submit" name="commit" value="保存" disable_with="正在保存" class="btn btn-primary btn-submit-programmer-settings" />
      </div>
</form>
      <br/>
</div>




</div>

</div>
</div>


<!-- 已登录，消息提醒 -->
  <script src="js/pull_notices.js"></script>

<script type="text/javascript">
  is_weixin();
  function is_weixin(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
      $(".wechat_login").attr("href", "http://shixian.com/users/auth/wechat");
      $(".weibo_login").hide();
      $(".github_login").hide();
    } else {
      $(".wechat_login").attr("href", "http://shixian.com/users/auth/open_wechat")
    }
  }
</script>

<script src="js/wx-activity.js"></script>

    
    
    <!-- 百度统计等 -->
      <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F25e3b17ddf2b132427768bfebf751a76' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!-- growingio -->
  <script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'acf6ac3446a1dcb0']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>
  </div>
 <style>
     .zi{background-color: red;width: 1080px;background-color: #fff; margin: 0 auto;}
     .zi a{ display: block;text-align: center;width: 175px;float: left;margin: 0;padding: 0;border: 0; }
     .zi a img{margin: 0;padding: 0;border: 0; }
     .footer .col ul a{color:#777;}
     .fcolor{color:#f2f2f2}
 </style>

    <div class="footer jiayi" style="">
      <div class="content-wrapper " style="background-color:#f2f2f2;">
        
        <div class="col">
          <ul>
            <li>
              <a  href="baed_dlc.html">预约流程</a>
            </li>
            <li>
             <a  href="baed_wdl.html">网站协议</a>
            </li>
            <li>
              <a  href="baed_dlc.html">常见问题</a>
            </li>
          </ul>
        </div>
        <div class="col" >
          
          <ul>
            <li>
              <a target="_blank" href="baed_wdy.html">友情链接</a>
            </li>
            <li>
              <a  href="index.html#hezuo">合作伙伴</a>
            </li>
               <li><a target="_blank" href="#">线下活动</a></li>
         
          </ul>
        </div>
        <div class="col">
          
          <ul>
          </ul>
        </div>
        <div class="col" style="padding-right:185px;">
          <div >
            <img width="108" src="img/shixian-team-qr-code-6e12ae9806057212d510f03cdc2173a00d22542669be5992b1fd926f4715e188.jpg" alt="Shixian qr code 1172ea9fd974a9901cb4ea6a5c826cb7f16aeaed0cce6f7815b292428b1ae7ca" />
          </div> 
        </div>
      </div>
    </div>
    <div class="copyrights jia" style="bottom: 0;width:100%;background-color:#be3232">
      <div class="fcolor">2014-2016 © 上海垚元信息科技有限公司&nbsp;&nbsp;|&nbsp;&nbsp;沪ICP备16027855号</div>
    </div>
</body>
</html>

