
<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="面精，面精网，面精社区"/>
    <!-- begin 参考 layouts/head -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="DR9NgPYExOfyi6KED0wmpIizt+HyKtxFC0bGVvxncrw4KEnlczNA2w/79KiXnf5zG+b6Tt9wUrVTk3YNYV5aNQ==" />
<link rel="shortcut icon" href="./img/i.png"/>
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" media="screen" href="css/design.css" />
    <!-- end 参考 layouts/head -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- 百度站长工具验证 -->
    <!-- 百度站长工具验证 -->
<!-- shixian.com -->
<meta name="baidu-site-verification" content="DxH5nP0ijn" />

<!-- www.shixian.com -->
<meta name="baidu-site-verification" content="dCeYDC5bLB" />

      <title>社会精英辅导求职预约平台</title>
<meta name="description" content="如果您是工程师、UI\UX设计师、产品经理，邀请您入驻面精网成为“求职顾问”，体验有别于传统外包私活的挣钱模式，充分利用平台优势挣取更多外快并且结交更多靠谱创业精英" />
<!-- <meta name="apple-itunes-app" content="app-id=949862651"> -->
      <script src="js/programmers.js"></script>
      <link rel="stylesheet" media="screen" href="css/programmers.css"/>
      <link rel="stylesheet" href="css/design.css"/>
    <style>
          .sx_btn,.sx_btn:hover { border-radius:3px;color: white}
             .btn {margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 0px solid transparent;border-radius: 4px;}    
             .steps>ul>li:first-child>a {border-right: 0px solid #E6E6E6 !important; 
}
          .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            color: #555;
            cursor: default;
            background-color:#e6e6e6;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            text-decoration: none;
}

    </style>


    

  </head>
    <body>
    <div style="display: none">
  <!-- 微信分享会取body里第一张大于等于300px的照片 -->  
  <img src="/images/logo-300.jpg" alt="面精网" />
</div>


 <nav class="navbar navbar-default navbar-fixed-top navbar-white" style="height: 51px">
   <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>

         <a class="logo navbar-brand text-center" href="index.html">面精网</a>

       </div>

       <div id="navbar" class="collapse navbar-collapse">
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>
         <div class="empty-10"></div>

           <ul class="nav navbar-nav">
             <li class="bai"><!-- class="active"  style="margin-left: 30px;"-->
               <a class="programmers-jobs-link" href="gu.html">求职顾问</a>
             </li>
             <li class="">
               <a class="programmers-jobs-link" href="require_list.html">新人求助</a>
             </li>
           </ul>

         <ul class="nav navbar-nav navbar-right" >
             <li class="">
               <a href="m_appointment.html">我的预约</a>
             </li>
             <li class="">
               <a href="notice.html">
                 通知
                 <label class="label label-danger" style="margin-left: 6px;display: none;position: relative;top:-2px"></label>
               </a>
             </li>
             <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" title="个人主页" href="javascript:void(0);">
                 <img class="tiny-avatar avatar" alt="路" src="img/tiny_5e620cedfe19524579ad8009ea25db2f.jpeg" />
                 <span class="headerTinymanName">路<b class="caret"></b></span>
               </a>
               <ul class="dropdown-menu">
                 <!-- 未申请或申请还没有通过认证(前面已判断)，都是这个 -->
                   <li class="">
                      <a href="gperson.html">查看顾问信息</a>
                    </li>

                    <li class="divider"></li>

                  <li class="">
                    <a href="gperson_chg.html ">修改顾问信息</a>
                  </li>
                  <li class="">
                    <a href="head_chg.html">修改头像昵称</a>
                  </li>
                 <li class="divider"></li>
                 <li><a href="#" data-method="delete" rel="nofollow">退出</a></li>
               </ul>
             </li>
         </ul>
       </div><!--/.nav-collapse -->
   </div>
 </nav>
<!-- Begin page content -->
<div class="container" style="min-height: 800px;">
<div class="empty-line"></div>
<div class="col-md-12 with-white-background-color xs-no-padding">
  <div class="empty-norm"></div>
  <div class="empty-norm"></div>
  <div class="empty-norm"></div>
  <div class="col-md-12 welcome-apply-job">
  <h1 class="text-center">
    欢迎申请成为求职顾问
  </h1>
  <div class="empty-line"></div>
  <div class="empty-small-line"></div>
  <p class="">
    成为学弟学妹们的求职顾问，让自己的职场经验帮助更多的职场新人。我们将为您推荐跟您经验匹配的求助信息。按时计费，先支付后再进行求职答疑。我们期待已经在职场积累了丰富经验的您，加入求职顾问的大家庭，也为自己的职业生涯开辟新的方向。
  </p>
  <div class="empty-norm"></div>
</div>
  <div class="clearfix"></div>
  <hr/>
   <div class="">
    <div class="steps clearfix " id="steps_head">
      <div class="empty-row"></div>
<div class="clearfix"></div>
        <!--   <style>
  .111{background-color:#E6E6E6;color: #fff; }
</style>             <script  type="text/javascript">
           $( document ).ready(function(){
                            $('.nav-tabs>li>a').bind('click', function(){
                            $(this).addClass('111').siblings().removeClass('111');
                        });
                          });
                        </script> -->

<ul role="tablist" class="nav-tabs" id="myTab"><!-- class="nav nav-tabs" -->
  <li role="tab" class="current" id="ziji">
    <a data-remote="true" href="#apply_programmer_first_step">
      <div class="overflow-h">
        <h4 id="whit">1 私密信息</h4>
      </div>
</a>  </li>

  <li role="tab" class="disabled" >
    <a data-remote="true" href="#apply_programmer_second_step ">
      <div class="overflow-h">
        <h4 style="color: #333;">2 顾问信息</h4>
      </div>
    </a>  </li>
</ul>

    </div>
    <script>
  $(document).ready(function(){
    $('.disabled').click(function(){
       $('#ziji').removeClass('current');
      document.getElementById('whit').style.color = "#333";
     })
  })
</script>
    <div class="empty-row"></div>
                         <script> 
                            $(function () { 
                              $('#myTab a:first').tab('show');//初始化显示哪个tab 
                            
                              $('#myTab a').click(function (e) { 
                                e.preventDefault();//阻止a链接的跳转行为 
                                $(this).tab('show');//显示当前选中的链接及关联的content 
                                   
                              }) 
                            }) 
                          </script>
<div class="tab-content"> 
 <div id="apply_programmer_first_step" class="tab-pane "><!-- row apply_programmer_first_step -->
      <!-- action="adviser.html" -->
    <form class="form-horizontal" id="edit_programmer_12147"  accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" />
      <div class="form-group form-group-md">
        <label class="col-md-4 control-label" for="programmer_name"><i class="text-danger">*必填&nbsp;&nbsp;</i>真实姓名</label>
        <div class="col-md-7 col-sm-10">
          <input required="required" placeholder="真实姓名，方便沟通和订单处理" class="form-control fix_flat" type="text" value="" name="programmer[name]" id="programmer_name" />
        </div>
      </div>

      <div class="form-group form-group-md">
        <label class="col-md-4 control-label" for="programmer_telphone"><i class="text-danger">*必填&nbsp;&nbsp;</i>联系电话</label>
        <div class="col-md-7 col-sm-10">
          <input required="required" placeholder="方便联系，及接受订单提醒" class="form-control fix_flat" minlength="11" type="text" value="" name="programmer[telphone]" id="programmer_telphone" />
        </div>
      </div>

      <div class="form-group form-group-md">
        <label class="col-md-4 control-label" for="programmer_email">邮箱</label>
        <div class="col-md-7 col-sm-10">
          <input required="required" placeholder="example@gmail.com" class="form-control fix_flat" type="email" value="" name="programmer[email]" id="programmer_email" />
        </div>
      </div>

      <div class="form-group form-group-md">
      <label class="col-md-4 control-label" for="programmer_ali_account"><i class="text-danger">必填&nbsp;&nbsp;</i>支付宝账号</label>
      <div class="col-md-7 col-sm-10">
        <input placeholder="向您此账号支付报酬" class="form-control fix_flat" type="text" value="" name="programmer[ali_account]" id="programmer_ali_account" />
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 20px;text-align:center;" >
        <input type="submit" name="commit" value="下一步" class="btn sx_btn apply_programmer_first_step_apply_btn" id="submit-first-step" 
         onclick="checkform()"  style="width: 160px;overflow: hidden;" />
    </div>
    </form>

 </div>
<!-- 顾问信息 -->
  <div id="apply_programmer_second_step" class="tab-pane ">
               <div class="programmer-public-info col-md-offset-1 col-md-12">
                  <strong>顾问信息（将公开展示，是吸引客户预约的信息）</strong>
                   </div>


    <form class="form-horizontal edit_programmer col-md-offset-1" id="edit_programmer_11848" action="/gperson" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" />
           <div class="form-group form-group-md">
             <label class="col-md-1 control-label bigger-col1" for="programmer_company">公司</label>
             <div class="col-md-3">
               <input placeholder="曾就职的最知名的公司简称" class=" form-control" type="text" name="programmer[company]" id="programmer_company" />
             </div>
            </div>

           <div class="form-group form-group-md">
             <label class="col-md-1 control-label bigger-col1" for="programmer_title">职位</label>
             <div class="col-md-3">
               <input required="required" placeholder="HR，资深工程师，招聘经理" class=" form-control" type="text" name="programmer[title]" id="programmer_title" />
             </div>
           </div>

           <div class="form-group">
             <label class="col-md-1 control-label bigger-col1" for="programmer_seniority">
               工作年限<span class="hidden-sm hidden-md hidden-lg">(年)</span>
           </label>
             <div class="col-md-1">
               <select required="required" class=" col-md-2 col-sm-8 form-control" name="programmer[seniority]" id="programmer_seniority"><option value=""></option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
               <option value="11">11</option>
               <option value="12">12</option>
               <option value="13">13</option>
               <option value="14">14</option>
               <option value="15">15</option></select>
                   </div>
             <div class="col-md-1 programmer-seniority-hint hidden-xs">年</div>
             </div>
             <div class="form-group">
             <label class="col-md-1 control-label bigger-col1" for="programmer_how_money">
               时薪<span class="hidden-sm hidden-md hidden-lg">(/45分钟，单选)</span>
            </label>    <div class="col-md-1 col-lg-2">
               <select name="programmer[how_money]" id="programmer_how_money" required="required" class="col-md-2 form-control"><option value=""></option><option value="100">100（默认）</option>
                 <option value="200">200</option>
                 <option value="300">300（经理）</option>
                 <option value="400">400</option>
                 <option value="500">500</option>
                 <option value="600">600（高级经理，HR经理）</option>
                 <option value="800">800</option>
                 <option value="1000">1000（总监，HRBP）</option>
                 </select>
             </div>
             <div class="col-md-1 programmer-how-money-hint form-control-static hidden-xs">/时</div>
             
             <div class="col-md-6 programmer-how-money-hint form-control-static">
               据此日薪，单月最高可获&nbsp;<i id="programmer_how_money_hint">0</i>&nbsp;元报酬。面精网不会收取任何费用。
             </div>
           </div>

           <div class="empty-line visible-xs"></div>

           <div class="col-md-12 col-md-offset-1 placeholder-hint bigger-offset1 container">
             建议刚开始不要设置较高的价格，等获得好评后再调高价格。<br />
             推荐先和您现在工作的日薪（税前月薪除以22天）持平。
           </div>

           <div class="clearfix"></div>

           <div class="margin-top-ten form-group programmer-appointment-time">
           <label class="col-md-1 control-label bigger-col1" for="programmer_appointment_time">咨询时间</label>
               <div class="col-md-offset-1 appointment-time_check-box">
                 <div class="col-md-2 col-xs-6 programmer-appointment_time">
                   <label class="checkbox-inline">
                     <input type="checkbox" name="programmer[appointment_time][]" id="programmer_appointment_time_" value="saturday" class="programmer_appointment_time" />

                     周六
                   </label>
                 </div>
               </div>
               <div class="col-md-offset-1 appointment-time_check-box">
                 <div class="col-md-2 col-xs-6 programmer-appointment_time">
                   <label class="checkbox-inline">
                     <input type="checkbox" name="programmer[appointment_time][]" id="programmer_appointment_time_" value="sunday" class="programmer_appointment_time" />

                     周日
                   </label>
                 </div>
               </div>
             <div class="clearfix"></div>
               <div class="col-md-offset-1 appointment-time_check-box">
                 <div class="col-md-2 col-xs-6 programmer-appointment_time">
                   <label class="checkbox-inline">
                     <input type="checkbox" name="programmer[appointment_time][]" id="programmer_appointment_time_" value="working_days_after_work" class="programmer_appointment_time" />

                     工作日下班后
                   </label>
                 </div>
               </div>
               <div class="col-md-offset-1 appointment-time_check-box">
                 <div class="col-md-2 col-xs-6 programmer-appointment_time">
                   <label class="checkbox-inline">
                     <input type="checkbox" name="programmer[appointment_time][]" id="programmer_appointment_time_" value="soho" class="programmer_appointment_time" />

                     自由职业者
                   </label>
                 </div>
               </div>
             <div class="clearfix"></div>
           </div>



           <div class="clearfix"></div>

           <div class="margin-top-ten form-group">
             <label class="col-md-1 control-label bigger-col1" for="programmer_territory">顾问角色</label>
             <div class="col-md-2">
              <select  class="col-md-6 form-control" name="programmer[territory]" id="programmer_territory" required="required"><option value=""></option>
             <option value="IT">IT</option>
             <option value="四大">四大</option>
             <option value="医疗">医疗</option>
             <option value="销售">销售</option>
             <option value="快消">快消</option>
             <option value="设计">设计</option>
             <option value="国企、事业单位">国企、事业单位</option></select>
             </div>


             <div class="col-md-4 placeholder-hint"></div>
           </div>

           <div class="col-md-12 col-md-offset-1 placeholder-hint bigger-offset1">
             请选择您在现供职企业的岗位对应的角色。
           </div>

           <div class="clearfix"></div>
           <div class="empty-line"></div>
           <div class="empty-line visible-xs"></div>
            <div id="apply_programmer_third_step">
              
             <div class="form-group form-group-md">
             <label class="col-md-1 control-label bigger-col1" for="programmer_technical_experience">工作经历</label>
             <div class="col-md-7">
               <textarea required="required" placeholder="请详细填写您的工作经历，同时列出您参与的招聘工作内容，请不要少于50字。" class="form-control fix_flat" rows="11" name="programmer[technical_experience]" id="programmer_technical_experience">
            </textarea>
             
             </div>

             <div class="col-md-4 smaller-col4 hidden-xs hidden-sm disable-copy">
               <span>示例：</span><br />
               <p>硕士学历，计算机专业，曾任职于百度、阿里及网页，现任微软开发经理。参与公司简历筛选及招聘面试，可以提供技术面试、开发问题面试等的辅导</p>
             </div>
           </div>


           <div class="empty-row"></div>
           

           <div class="empty-row visible-xs"></div>

         <!-- 保存技术经验和项目经验到浏览器本地存储 -->
         <script type="text/javascript">
           $( document ).ready(function() {
              var technical_experience = $("#programmer_technical_experience");
              if(technical_experience.length > 0){
                var technical_experience_value = technical_experience.val();
                var technical_experience_key = "11848/programmer_technical_experience"

                var technical_experience_local = localStorage.getItem(technical_experience_key);

                if(technical_experience_value.length <= 0 && technical_experience_local != null){
                  technical_experience.text(technical_experience_local);
                }

                // 需要重新计算
                if (technical_experience.val().length <= 0) {
                  $("#pte-hint").hide();
                } else{
                  $("#pte-hint span").text(technical_experience.val().length);
                };
              }

              var project_experience = $("#programmer_project_experience");
              var project_experience_key = "11848/programmer_project_experience"

              if (project_experience.length > 0) {
                var project_experience_value = project_experience.val();
                var project_experience_local = localStorage.getItem(project_experience_key);

                if(project_experience_value.length <= 0 && project_experience_local != null){
                  project_experience.text(project_experience_local);
                }

                // 需要重新计算
                if (project_experience.val().length <= 0) {
                  $("#ppe-hint").hide();
                } else{
                  $("#ppe-hint span").text(project_experience.val().length);
                };
              };
            });

          $(document).on('input propertychange', '#programmer_technical_experience', function() {
            var technical_experience_key = "11848/programmer_technical_experience"
            localStorage.setItem(technical_experience_key, $(this).val());

            var pte_length = $(this).val().length;

            if (pte_length <= 0) {
              $("#pte-hint").hide();
            } else{
              $("#pte-hint").show();
              $("#pte-hint span").text(pte_length);
            };
          });

          $(document).on('input propertychange', '#programmer_project_experience', function() {
            var project_experience_key = "11848/programmer_project_experience"
            localStorage.setItem(project_experience_key, $(this).val());

            var ppe_length = $(this).val().length;

            if (ppe_length <= 0) {
              $("#ppe-hint").hide();
            } else{
              $("#ppe-hint").show();
              $("#ppe-hint span").text(ppe_length);
            };
          });
         </script>

         <script>
           var is_safari = navigator.userAgent.indexOf("Safari") > -1;

           if(is_safari){
             $("form.edit_programmer textarea[name^='programmer']").attr("required", false);
           }
         </script>

             </div>
          
         <div class="col-md-12 col-md-offset-1 bigger-offset1">
             <!-- <div class="col-sm-2 no-padding_left col-xs-6">
                 <a class="btn btn-default fix_flat col-sm-offset-2 " data-remote="true" href="/consultants/11848/show_first_step">上一步</a>
               </div> -->
             <div class="col-sm-offset-1 col-sm-2 col-xs-6">
               <input type="button" onclick="submitConsultInfo()" name="commit" value="提交申请" data-disable-with="正在提交..." class="btn sx_btn"  id="submit-nest-step"/>
            
             </div>
           </div>
             <div class="empty-row visible-xs"></div>
     </form>

  </div>
</div>
    <div class="clearfix"></div>
  <!--   <div class="empty-row"></div>
    <div class="empty-row"></div> -->
  </div>
</div>
<script>
  var is_safari = navigator.userAgent.indexOf("Safari") > -1;

  if(is_safari){
    $("form#new_programmer input[name^='programmer']").attr("required", false);
  };
     function checkform(){
      if (edit_programmer_12147.programmer_name.value=="") {
        alert("请输入真实姓名！");
        return false;
      }
      if (edit_programmer_12147.programmer_telphone.value=="") {
        alert("请输入联系电话,确保11位数字！");
        return false;
      }
      if (edit_programmer_12147.programmer_email.value=="") {
        alert("请输入邮箱,符合邮箱格式！");return false; 
      }
      if (edit_programmer_12147.programmer_ali_account.value=="") {
        alert("请输入支付宝号码！");return false; 
      }
      

      (function (){ 
                              $('#myTab a:last').tab('show');//初始化显示哪个tab 
                            })() ;
      // document.getElementById('ziji a').style.backgroundColor="#E6E6E6";
      // window.open("adviser.html")
      //   document.getElementById('apply_programmer_first_step').style.display="none";
      //   document.getElementById('apply_programmer_second_step').style.display="block";
      //   document.getElementById('ziji2').style.backgroundColor="#e6e6e6";
      // return true;
     };

</script>

</div>

<!-- <div class="footer-faker-margin-row"></div>

<div class="empty-row"></div> -->


  <!-- 已登录，消息提醒 -->
<script src="js/pull_notices.js"></script>

<script type="text/javascript">
  is_weixin();
  function is_weixin(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
      $(".wechat_login").attr("href", "http://shixian.com/users/auth/wechat");
      $(".weibo_login").hide();
      $(".github_login").hide();
    } else {
      $(".wechat_login").attr("href", "http://shixian.com/users/auth/open_wechat")
    }
  }
</script>

<script src="js/wx-activity.js"></script>
    <script src="myJs/Consultation.js"></script>

    
    
    <!-- 百度统计等 -->
      <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F25e3b17ddf2b132427768bfebf751a76' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!-- growingio -->
  <script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'acf6ac3446a1dcb0']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script><br/>
  <style>
      .zi{background-color: red;width: 1080px;background-color: #fff; margin: 0 auto;}
      .zi a{ display: block;text-align: center;width: 175px;float: left;margin: 0;padding: 0;border: 0; }
      .zi a img{margin: 0;padding: 0;border: 0; }
      .footer .col ul a{color:#777;}
      .fcolor{color:#f2f2f2}
  </style>

     <div class="footer jiayi" style="">
       <div class="content-wrapper " style="background-color:#f2f2f2;">
         
         <div class="col">
           <ul>
             <li>
               <a  href="/baed_dlc">预约流程</a>
             </li>
             <li>
              <a  href="/baed_wdl">网站协议</a>
             </li>
             <li>
               <a  href="/baed_dlc">常见问题</a>
             </li>
           </ul>
         </div>
         <div class="col" >
           
           <ul>
             <li>
               <a target="_blank" href="/baed_wdy">友情链接</a>
             </li>
             <li>
               <a  href="/#hezuo">合作伙伴</a>
             </li>
                <li><a target="_blank" href="#">线下活动</a></li>
          
           </ul>
         </div>
         <div class="col">
           
           <ul>
           </ul>
         </div>
         <div class="col" style="padding-right:185px;">
           <div >
             <img width="108" src="img/shixian-team-qr-code-6e12ae9806057212d510f03cdc2173a00d22542669be5992b1fd926f4715e188.jpg" alt="Shixian qr code 1172ea9fd974a9901cb4ea6a5c826cb7f16aeaed0cce6f7815b292428b1ae7ca" />
           </div> 
         </div>
       </div>
     </div>
     <div class="copyrights jia" style="bottom: 0;width:100%;background-color:#be3232">
       <div class="fcolor">2014-2016 © 上海垚元信息科技有限公司&nbsp;&nbsp;|&nbsp;&nbsp;沪ICP备16027855号</div>
     </div>
  </body>
</html>





